<!DOCTYPE html>
<html>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
        <meta charset="UTF-8">
        <title>examedia</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="stylesheet" href="assets/css/style.css" type="text/css">
        <link rel="shortcut icon" href="">
        <meta property="og:title" content="examedia">
        <meta property="og:description" content="">
        <meta property="og:url" content="http://examedia.co.jp/">
        <meta property="og:image" content="">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="examedia">
        <meta property="og:locale" content="ja_JP">
        <meta name="twitter:card" content="summary">
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id){var js, fjs = d.getElementsByTagName(s)[0];if(d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=1506406802915855&version=v2.0";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <div class="Wrapper">
            <header class="Navi l-Navi region-navi">
            </header>
            <section class="Content l-Content region-content">
            </section>
            <footer class="Footer region-footer">
            </footer>
        </div>
        <script type="text/template" id="Navi-CompositeView">
            <h1 class="Navi__logo"><img src="assets/images/icn_logo_01.png" alt=""></h1>
            <ul class="Navi__lists">
            </ul>
        </script>
        <script type="text/template" id="Navi-ItemView">
            <p class="Navi__list <%= selected ? 'isSelected' : ''  %>"><a href="#<%= name %>"><%= name %></a></p>
        </script>
        <script type="text/template" id="Content-News-view">
            <h2 class="Content__title">news</h2>
            <dl class="News">
                <dt class="News__date">2014/11/17</dt>
                <dd class="News__message">HOOPをリリースしました。</dd>
            </dl>
            <dl class="News">
                <dt class="News__date">2014/6/13</dt>
                <dd class="News__message">Manifetsoをリリースしました。</dd>
            </dl>
        </script>
        <script type="text/template" id="Content-Concept-view">
            <h2 class="Content__title">concept</h2>
            <div class="Concept">
                <p class="Concept__text">examedia, Inc.は人や社会の様々な問題とニーズをターゲットに、ITとクリエイティブの分野でプロダクトをアウトプットします。</p>
                <p class="Concept__text">それらは、個人・組織・社会・大陸を超えてあらゆる規模や分野に対してアクションしていくものです。</p>
                <p class="Concept__text">近い未来に、われわれが提供する無数の驚きは、1つの線で繋がれ、面となり、世界中の人々がこれまで見てきた夢や理想を実現していくでしょう。</p>
                <p class="Concept__text">そして、夢や理想の探求が誰にとっても平等に、不可能ではないことも証明します。</p>
                <p class="Concept__text">新しい概念と心躍る未来の創造を。</p>
            </div>
        </script>
        <script type="text/template" id="Content-Works-view">
            <h2 class="Content__title">works</h2>
            <div class="Works">
                <ul>
                    <li class="Works__list">
                        <a href="https://play.google.com/store/apps/details?id=jp.co.examedia.android.hoop&hl=ja" target="_blank">
                            <img class="Works__image" src="assets/images/icn_app_hoop.png" alt="HOOP画像">
                            <p class="Works__title">HOOP</p>
                        </a>
                    </li>
                    <li class="Works__list">
                        <a href="https://itunes.apple.com/jp/app/manifesto-xuan-ju-gong-yue/id669050459?l=ja&ls=1&mt=8" target="_blank">
                            <img class="Works__image" src="assets/images/icn_app_manifesto.png" alt="manifesto画像">
                            <p class="Works__title">manifesto</p>
                        </a>
                    </li>
                </ul>
            </div>
        </script>
        <script type="text/template" id="Content-Contact-view">
            <h2 class="Content__title">contact</h2>
            <div class="Contact">
                <ul>
                    <li class="Contact__list">
                        <a href="" target="_blank">
                            <img class="Contact__image" src="assets/images/icn_tw_01.png" alt="Twitter">
                            <p class="Contact__title">Twitter</p>
                        </a>
                    </li>
                    <li class="Contact__list">
                        <a href="mailto:hoop.examedia@gmail.com">
                            <img class="Contact__image" src="assets/images/icn_mail_01.png" alt="メール">
                            <p class="Contact__title">メール</p>
                        </a>
                    </li>
                </ul>
            </div>
        </script>
        <script type="text/template" id="Footer-view">
            <p class="Footer__copyright">Copyright © 2014 examedia,Inc.</p>
        </script>
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
        <script type="text/javascript" src="bower_components/backbone/backbone.js"></script>
        <script type="text/javascript" src="bower_components/marionette/lib/backbone.marionette.js"></script>
        <script type="text/javascript" src="assets/js/app.js"></script>
        <script type="text/javascript" src="assets/js/models/current.js"></script>
        <script type="text/javascript" src="assets/js/modules/navi.js"></script>
        <script type="text/javascript" src="assets/js/modules/content.js"></script>
        <script type="text/javascript" src="assets/js/modules/footer.js"></script>
        <script>
            App.start();
        </script>
    </body>
</html>
