$color-bg_navi: rgb(40, 40, 30);
$color-bg_content: rgb(240, 235, 230);
$color-border: rgb(25, 170, 195);
$color-accent: rgb(215, 200, 170);
$color-txt_normal: rgb(40, 40, 30);
$color-txt_title: rgb(215, 200, 170);
$color-menu_normal: rgb(115, 115, 115);

