.Contact {
    padding: 40px 20px 0 20px;
    text-align: center;
    margin-top: 50px;

    &__list {
        display: inline-block;
        margin: 10px 30px;
    }

    &__image {
        width: 100px;
    }

    &__title {
        margin-top: 5px;
        color: $color-menu_normal;
    }
}
