@mixin diamond {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    margin: 8px;
    @include hide-text;
    @include transform(rotate(45deg));
}

.cf:before, .cf:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}
