.Works {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    margin-top: -60px;

    &__list {
        display: inline-block;
        margin: 10px 30px;
    }

    &__image {
        width: 100px;
        height: 100px;
    }

    &__title {
        margin-top: 5px;
        color: $color-menu_normal;
    }
}
