/* 
html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.w620px {
  width: 620px; }

.mt5px {
  margin-top: 5px; }

.mt20px {
  margin-top: 20px; }

.mt40px {
  margin-top: 40px; }

.mt60px {
  margin-top: 60px; }

.pt20px {
  padding-top: 20px; }

.pt40px {
  padding-top: 40px; }

.f14 {
  font-size: 14px; }

.f16 {
  font-size: 16px; }

.txtL {
  text-align: left; }

.txtR {
  text-align: right; }

.txtBold {
  font-weight: bold; }

.fl {
  float: left; }

.fr {
  float: right; }

.cf:before, .cf:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden; }

.cf:after {
  clear: both; }

.cf {
  zoom: 1; }

.Navi {
  position: fixed;
  background: url("../images/bg_navi_01.png") repeat left top;
  width: 50%;
  height: 100%;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }
  .Navi__logo {
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -15px; }
  .Navi__lists {
    position: absolute;
    top: 50%;
    right: -16px;
    height: 310px;
    margin-top: -155px; }
  .Navi__list {
    position: relative;
    text-align: right;
    margin: 20px 0;
    line-height: 50px; }
    .Navi__list.isSelected a {
      font-weight: bold;
      color: #d7c8aa; }
      .Navi__list.isSelected a:after {
        position: absolute;
        content: "●";
        color: #d7c8aa;
        font-size: 60px;
        top: -6px;
        right: -2px; }
    .Navi__list a {
      padding-right: 40px;
      color: #737373; }
      .Navi__list a:after {
        position: absolute;
        content: "●";
        color: #737373;
        font-size: 43px;
        top: -3px;
        right: 3px;
        z-index: 10;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
      .Navi__list a:hover:after {
        color: #d7c8aa; }
  .Navi__border {
    position: absolute;
    width: 2px;
    height: 100%;
    right: -2px; }
    .Navi__border.border01 {
      -webkit-animation: anime 2s ease-in infinite alternate;
      -moz-animation: anime 2s ease-in infinite alternate;
      animation: anime 2s ease-in infinite alternate; }

@-moz-keyframes anime {
  0% {
    background-color: #39dae3; }

  100% {
    background-color: #19bac3; } }

.Content {
  position: fixed;
  background-color: #f0ebe6;
  left: 50%;
  width: 50%;
  height: 100vh;
  color: #28281e;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.8);
  z-index: 20; }
  .Content__title {
    height: 30px;
    line-height: 30px;
    margin-top: 100px;
    padding: 20px;
    font-size: 30px;
    color: #d7c8aa; }

.News {
  padding: 40px 20px 0 60px;
  line-height: 1.3; }
  .News__date {
    color: #999;
    font-size: 12px; }
  .News__message {
    margin-top: 5px;
    margin-left: 10px; }

.Concept {
  padding: 40px 20px 0 60px;
  font-size: 14px;
  line-height: 1.3; }
  .Concept__text {
    margin-bottom: 20px; }

.Works {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  text-align: center;
  margin-top: -60px; }
  .Works__list {
    display: inline-block;
    margin: 10px 30px; }
  .Works__image {
    width: 100px;
    height: 100px; }
  .Works__title {
    margin-top: 5px;
    color: #737373; }

.Contact {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  text-align: center;
  margin-top: -50px; }
  .Contact__list {
    display: inline-block;
    margin: 10px 30px; }
  .Contact__image {
    width: 80px; }
  .Contact__title {
    margin-top: 5px;
    color: #737373; }

.Footer {
  position: fixed;
  width: 200px;
  height: 20px;
  left: 75%;
  bottom: 0;
  text-align: center;
  font-size: 12px;
  padding: 4px 0;
  margin-left: -100px;
  z-index: 30; }
  .Footer__copyright {
    color: #999; }
